@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap'), url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'), url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');
body{
    margin:0;

    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('../images/sexy-battlefield-4.jpg');
    background-size: cover;
    .header{
      float: left;

      font-family: 'Akronim', cursive;
      font-size: 3em;
      .l{
        color: red;
    
      }
      .v{
        color: yellowgreen;
      }
    }
}

.navbar{
  .main-nav{
    list-style: none;
    padding: 3em;
    background-color: none;
    display: flex;
  }
 
  li{
    display: inline;
    padding-right: 5em;
    a{
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: 0.4s ease-in-out;
      &:hover{
        color: rgb(39, 160, 39);
        
      }
    }
  }

  
}
.block {
  margin-bottom: 30em;
  margin-left: 50em;
  color: rgb(132, 255, 132);
  position: relative;
  font-family: 'Pacifico', cursive

}
.search{
  position: relative;
  bottom: 610px;
  width: 330px;
  margin-left: auto;
  .srch{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: transparent;
  }
  .btn{
    float: left;
    width: 20%;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    &:focus{
        outline: none;
    }
}
}
.content{
  width:1200px;
  height: auto;
  margin: 3em;
  color: white;
  position: relative;
  bottom: 570px;
  
  .par{
    padding-left: 2px;
    padding-bottom: 25px;
    font-family: 'Bitter', serif;
    letter-spacing: 1.2px;
    line-height: 30px;
  }
  .h1{
    font-family: 'Bitter', serif;
    font-size: 50px;
    padding: 20px;
    margin-top: 10%;
   
    
  }
  span{
    color:rgb(145, 137, 131);
    font-size: 60px;
    font-family: 'Akronim', cursive;
  }

  .cn{
    width: 130px;
    height: 40px;
    border: none;
    background: rgb(2, 26, 2);
    font-size: 18px;
    border-radius: .5em;
    transition: .4s ease;
    cursor: pointer;
   
    &:hover{
      background-color: black;
    }
    a{
      text-decoration: none;
      font-family: 'Bitter', serif;
      color: white;
      
    }
  }


}
.galla{
  display: flex;
  position: relative;
  bottom: 600px;
  img{
    padding: 3em;
    border-radius: 6em;
  }
}
.major{
   display: flex;
   float: right;
   position: relative;
   bottom: 1255px;
   img{
   border-radius: 10em;
   background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
   }
  
}


  
  


